# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
.pytest_cache/
.hypothesis/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Logs
*.log

# Ignore macOS system files
.DS_Store
